[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
glfw = "*"
pyopengl = "*"
pyopengl-accelerate = "*"
numpy = "*"
pyglm = "==1.1.7"
pillow = "*"

[dev-packages]
jupyter = "*"
black = "*"

[requires]
python_version = "3.12"
